@import'fonts.css';

body {
	font-family: 'Open Sans';
	background: white;
}
ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

/*Menu-bar*/
.menu-bar {
	background: white;
	color: #212121;
	padding: 20px 0;
}
.logo {
	font-size: 30px;
	font-weight: bold;
	color: #00897b;
}
.logo:hover {
	text-decoration: none;
	color: #00897b;
}
.menu__item {
	margin-left: 37px;
	cursor: pointer;ЗP
}
.menu__item a {
	font-family: 'Open Sans Semibold';
	font-size: 20px;
	color: #212121;
}
.menu__item a:hover {
	text-decoration: none;
	color: #00897b;
}
.fa-search {
	vertical-align: bottom;
}

/*Header*/
.header {
	background-image: url(../img/header.png);
	background-size: cover;
	background-position: 0 100%;
}
.header > div {
	padding: 180px 0;
	text-align: center;
	color: white;
}
.header__title {
	font-size: 55px;
	margin-bottom: 20px;
}
.header__text {
	font-size: 20px;
	margin-bottom: 105px;
}
.button {
	padding: 15px 35px;
	margin: 0 10px;
	transition: 0.3s;
	text-transform: uppercase;
}
.header__button {
	background: #00897b;
	border: 1px solid #00897b;
	color: white;
}
.header__button:hover {
	background: transparent;
	border: 1px solid white;
	color: white;
}
/*About*/
.about {
	color: #212121;
	background: white;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 125px;
}
.title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}
.text {
	font-size: 15px;
	margin-bottom: 95px;
	color: #212121;
}
.subtitle {
	font-family: 'Open Sans Semibold';
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.desc {
	font-size: 15px;
	color: #212121;
}

/*Services*/
.services {
	color: #212121;
	background: #e4fdf9;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 125px;
}
.card-services {
	background: white;
	padding: 50px 40px 40px;
	transition: 0.3s;
	margin-bottom: 30px;
}
.card-services:hover {
	background: #00897b;
	color: white;
	-webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.35);
}
.card-services:hover .icon,
.card-services:hover .desc {
	transition: 0.3s;
	color: white;
}
.card-services:hover .card-services__button {
	border: 1px solid white;
	color: white;
	transition: 0.3s;
}
.icon {
	font-size: 60px;
	color: #212121;
}
.card-services__button {
	border: 1px solid #212121;
	background: transparent;
	font-family: 'Open Sans Semibold';
	margin-top: 24px;
	color: #212121;
}

/*Portfolio*/
.portfolio {
	color: #212121;
	background: white;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 125px;
}
.portfolio__button {
	background: white; 
	border: 1px solid #00897b;
}
.portfolio__button:hover {
	background: #00897b;
	color: white;
}
.portfolio__items-list {
	padding-top: 95px;
	margin-bottom: 65px;
}
.portfolio__item {
	margin-bottom: 30px;
}
.portfolio__item img {
	width: 100%;
}